@charset "UTF-8";

body, input, span {
	font-size: 14px;
}

body {
	padding: 5px 10px;
	background-color: white;
	color: black;
}

.console, .caret {
	background-color: black;
	color: #f0f0f0;
	font-family: courier,fixed,swiss,monospace,sans-serif;
	border: 0px;
	outline: none;	
}

.console {
	padding: 2px;
	width: 640px;
	height: 480px;
	overflow-y: auto;
}

.console span {
	clear: left;
	float: left;
}

.console span.lastCommand {
	clear: none;
	margin: -1px 0 0 7px;	
}

/*
.console .caretBlink {
	color: #0f0;
	width: 9px;
	heigth: 13px;
	float: left;
	margin-left: 6px;
	text-decoration: blink;	
}
*/

.console .caret {
	float: left;
	margin: -4px 0 0 6px;
	width: 300px;
}

#main {
	font-family: Arial,sans-serif;
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #3366CC;
	border-radius: 4px;
	font-size: 14px
}

#main h1 {
	padding: 10px;
	border-radius: 2px;
}

#main h2 {
	padding: 10px;
	border-radius: 2px;
	font-size: 10px;
	margin-top: 10px;
	text-align: center;
	
}

#main .topics > li {
	margin-top: 15px;
}
#main .topics > li > ul > li {
	margin-top: 15px;
	line-height: 18px;
}

#main .topics li {
	font-weight: normal;
	text-shadow: none;
	margin-left: 30px;
	list-style: disc;
}

i {
	font-style: italic;
}

#tip  {
	margin: 3px 0;
	padding: 6px 10px;
	border: 1px solid #3366CC;
	background-color: gray;
	border-radius: 10px;
}

#title {
	margin: 6px 0;
}

#i18ntoolbox {
	position: fixed;
	right: 0px;
	top: 4px;
	border: 1px solid #3366CC;
	background-color: white;
	margin-right: 10px;
	border-radius: 10px;
}

#i18ntoolbox li {
	float: left;
	padding: 2px 4px;
	font-family: arial;
	color: #319331;
}
	
#i18ntoolbox li:hover {
	cursor: pointer;
	color: #791B1B;
}
	
[data-language] {
	display: none;
}	
	
	